/*
* @Author: Eido
* @Date:   2018-06-23 18:30:12
* @Last Modified by:   Eido
* @Last Modified time: 2018-06-25 21:18:54
*/
.btn {
	width: 100%;
}

.nav-btn {
	width:10em;
	margin-right: 2%;
}

nav {
	margin-bottom: 1%;
}

#whole-page {
	background: #121212;
	color: white;
	margin-top: 1%;
	margin-bottom: 1%;
}
